  #weather-now {
    text-align: center;
    font-size: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0em;
    margin-right: 0.3em;
    margin-left: 0.3em;
  }
  .weather-columns {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -0.25em;
  }
  .weather-data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 0.47em;
  }
  
  .weather-section.hourly {
    margin-bottom: 0em;
    margin-right: 0.5em;
  }