
.bot {
    margin-top: -0.2em;
    margin-bottom: -0.8em;
    font-size: 0.7em;
  }
  
  .bot-and-income-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em; 
    font-size: 0.7em;
    margin-bottom: -0.8em;
  }
  
  .projInc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 0.7em;
  }
  
  .projInc p {
    margin: 0;
    font-size: 0.9em;
  }