body {
  margin: 0;
  margin-top: -1.8em;
  padding-top: 60px;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(120, 200, 120);
  font-size: 2.5em;
  height: 1300px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.center {
  text-align: center;
}

#buttons-container button {
  font-size: 1.1em;
}
#terminal-container {
  display: none;
  margin-top: 20px;
}

.white-label {
  color: white;
}

h6 {
  margin:0em;
  padding: 0em;
  font-size: 0.9em;
  margin-top: 0.75em;
  margin-bottom: 2;
}
#schedule-list .current {
  background-color: rgba(128, 0, 0, 0.301);
  color: white;
}

#start-day {
  background-color: rgba(0, 128, 0, 0.558);
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 0.45em;
  padding: 0.5em;
  margin-left: -10.4em;
  width: 130px; /* or whatever fixed width you prefer */
  white-space: nowrap;
  overflow: visible;
}

#mute-button {
  background-color: rgba(0, 128, 0, 0.558);
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 0.45em;
  padding: 0.5em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
#schedules-button {
  background-color: rgba(0, 128, 0, 0.558);
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 0.45em;
  padding: 0.5em;
  margin-left: 0em;
  margin-right: -9em;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

#history-btn {
 font-size: 0.6em;
 border-radius: 0.1em;
 background-color: rgba(0, 128, 0, 0.558);
 margin-top: 0.5em;
 border-radius: 0.45em;
 font-weight: bold;
 padding: 0.4em;
 margin-right: 2.13em;
 padding-right: -1em;
 margin-left: -1.9em;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe04;
  margin: 1% auto; /* 15% from the top and centered */
  padding: 2px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

#history-table td {
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
}

.history-date, #history-table th:nth-child(2) {
  width: 20%; /* Set the width of the date and balance columns to 20% */
}

.comment {
  width: 60%; /* Set the width of the comment column to 60% */
}

.muted {
  background-color: rgba(0, 128, 0, 0.243);;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  padding: 1rem;

  flex-direction: column; 
  align-items: center;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7em;
  text-align: center;
  margin-top: -0.5em;
}

.clock {
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0em;
  padding: 0;
}



.ampm {
  font-size: 0.5em;
  position: relative;
  bottom: 0.2em;
  margin-left: 0em;
}


#assistant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.assistant-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#startListeningBtn, #stopListeningBtn {
  margin: 10px;
}

#transcriptions {
  width: 100%;
  height: 300px;
  overflow: auto;
  margin-top: 20px;
  background-color: #f0f0f0;
  padding: 10px;
}
#todo-container, #schedule-container {
  max-width: 50%;
  box-sizing: border-box;
}

#comment-input {
  display: block;
  width: 50%;
  margin: 0 auto;
}

#schedule-container {
  flex-direction: row;
  font-size: 0.5em;
  width: 300px;
  margin-top: -4.1em;
  margin-right: 3em;
  z-index: 0;
}

#schedule-list {
  list-style-type: none;
  padding: 0;
  flex-direction: row;
  margin-left: 5em;
  margin-top: 1.1em;
  z-index: 0;
}

#schedule-list li {
  padding: 0.1em;
  font-size: 1.35em;
  margin-bottom: 0em;
  border-radius: 0em;
  display: flex;
  flex-direction: row;
  transition: all 0.3s ease;
  background-color: transparent;
  z-index: 0;
}

#schedule-list li:hover {
  cursor: pointer;
}

.chat-container {
  background-color: rgba(0, 0, 0, 1);
  color: rgb(120, 200, 120);
}

.open-chat-button {
  margin-left: 0em;
  display: block;
  background-color: rgba(0, 128, 0, 0.558);
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 0.45em;
  padding: 0.25em;
  margin-top: 0.75em;
  }
  
  #user-input {
  width: 700px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  }
  
  #assistant-container {
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  }

  /*TODO WORK TIMERS START*/
  .timer-container {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 0.6em;
    width: 50%;
  }
  
  .timer {
    display: flex;
    display: none;
    flex-direction: row;
    align-items: center;
  }
  
  .timer span {
    font-size: 2rem;
    display: none;
  }
  
  .timer button {
    padding: 10px;
    font-size: 1rem;
    margin-right: 0.5em;
    display: none;
    border-radius: 0.5em;
  }
/*WORK TIMERS END*/  

.containertodoscheduler {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
}

#profitPercent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  margin-left: -1em;
  padding-top: 0.6em;
}

#balances-api-form input, #weather-api-form input {
  width: 100%;
  margin-top: 1em;
}

.submit-button {
  height: 30px; 
  width: 60px;
}

.edit-button {
  display: none; 
}

#bingXBots-container .profit {
  margin-top: -5em;
  margin-bottom: 0em;
}

#bingXBots-container .balance {
  margin-bottom: -5em;
}